body{
    background-color: rgb(243, 230, 156);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    margin-top: 100px;
}
form{
    background-color: rgba(230, 157, 181, 0.767);
    width: 300px;
    border-radius: 10px;
    margin: 65px;
    margin-left: 290px; 
    padding: 20px;
    border: 2px solid black;
    text-align: center;
    padding-bottom: 25px;
}