@media (min-width: 600px) {
    body {
        background-color: beige;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: large;
        margin: 4px;
        padding: 0;
    }

    nav ul {
        display: flex;
        list-style-type: none;
        gap: 100px;
        background-color: blue;
        height: fit-content;
        padding: 10px 20px;
        justify-content: space-around;
    }

    nav ul a {
        color: white;
    }

    h1 {
        color: rgb(250, 248, 248);
        background-color: rgb(228, 88, 111);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 80px;
        text-align: center;
        margin: 0;
    }

    footer {
        background-color: rgb(7, 7, 54);
        margin-bottom: 0;
    }

    footer ul {
        list-style-type: none;
    }

    footer ul a {
        color: white;
    }

    .c1 {
        width: 280px;
        background-color: rgb(228, 88, 111);
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    button {
        color: white;
        background-color: blue;
        border-radius: 50px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: large;
    }

    button:hover {
        background-color: greenyellow;
    }

    label {
        margin-top: 10px;
        display: block;
    }

    input, textarea {
        border-radius: 5px;
        border-bottom: 2px solid grey;
    }

    #i1 {
        width: 280px;
    }

    section {
        display: flex;
        gap: 50px;
        justify-content: space-around;
    }

    .d2 {
        text-align: center;
        width: 300px;
        font-size: 15px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border-right: 5px solid black;
    }

    main {
        display: flex;
        gap: 10px;
        justify-content: space-around;
        border: solid 2px chocolate;
        border-radius: 10px;
    }

    #i3 {
        height: 185px;
        width: 250px;
    }

    article {
        display: flex;
        gap: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 25px;
    }
}




@media (min-width: 300px) and (max-width: 600px) {
    body{
        background-color: silver;
        font-size: 14px;
        margin: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 0 10px;
    }
    h1{
        font-size: 28px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        background-color:  rgb(228, 88, 111);
        text-align: center;
        margin: 0;
    }
    nav ul{
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        background-color: blue;
    }
    nav ul a{
        color: white;
    }
    footer{
        background-color: navy;
        margin-bottom: 0;
    }
    footer ul a{
        color: white;
    }
    footer ul{
        list-style-type: none;
    }
    button{
    color: white;
    background-color: blue;
    border-radius: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    
    }
    button:hover{
        background-color: green;
    }
    label{
        margin-top: 10px;
        display: block;
    }
    input, textarea{
        border-radius: 5px;
        border-bottom: 2px solid grey;
    }
    button{
        background-color: blue;
        color: white;
    }
    button:hover{
        background-color: greenyellow;
    }
    button:visited{
        background-color: green;
    }
    button a{
        color: white;
    }
    section{
        display: block;
        margin: 10px auto;
        width: 90%;
    }
    .c1{
    width: 90%;
    background-color: rgb(228, 88, 111);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
    main{
    display:block;
    border-radius: 10px;
    margin: 10px auto;
    width: 90%;
    }
    #i3, #i3{
    width: 90%;
    margin: 10px auto;
    }
    article{
        width: 300px;
        margin: 50px;
        display: block;
        font-size: 15px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
    }
    .d2{
    text-align: center;
    width: 300px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }

}







body{
    background-color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    margin: 4;
    padding: 0;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 100px;
    background-color: blue;
    height: fit-content;
    padding: 10px 20px;
    justify-content: space-around;
    margin-top: 0;
}
nav ul a{
    color: white;
}
h1{
    color: rgb(250, 248, 248);
    background-color: rgb(228, 88, 111);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
footer{
    background-color: rgb(7, 7, 54);
    margin-bottom: 0;
}
footer ul a{
    color: white;
}
footer ul{
    list-style-type: none;
}
.c1{
    width: 280px;
    background-color: rgb(228, 88, 111);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button{
    color: white;
    background-color: blue;
    border-radius: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    
}
button:hover{
    background-color: green;
}
label{
    margin-top: 10px;
    display: block;
}
input, textarea{
    border-radius: 5px;
    border-bottom: 2px solid grey;
}
button{
    background-color: blue;
    color: white;
}
button:hover{
    background-color: greenyellow;
}
button:visited{
    background-color: green;
}
button a{
    color: white;
}
#i1{
    width: 280px;
}
section{
    display: flex;
    gap: 50px;
    justify-content: space-around;
}
.d2{
    text-align: center;
    width: 300px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main{
    display:flex;
    gap: 10px;
    justify-content: space-around;
    border: solid 2px chocolate;
    border-radius: 10px;
}
#i3{
    height: 185px;
    width: 250px;
}
article{
    display: flex;
    gap: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}