footer{
    background-color: navy;
}
footer a{
    color: white;
}
footer ul{
    list-style: none;
    margin: auto;
    font-size: 30px;
    margin-bottom: 0;
    padding: 25px;
}
body{
    background-color:  rgb(243, 230, 156);
}
h1{
    color: rgba(223, 12, 83, 0.767);
    text-align: center;
    font-size: 50px;
    margin: 10px;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 0px;
    text-align: center;
    margin-top: 56px;
}
button{
    background-color: blue;
    border-radius: 20px;
    margin: 0px;
    justify-content: center;
}
button a{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}